__pycache__/
data/
wryteai2nd/
models/
.streamlit/
cache/
exports/
storage/
wryteai_storage/
models/
codes/
style.css
fix_data_types.py
pandasai.log
.devcontainer/
.venv/
postgres.py

*.pkl

*.py[cod]