pandas
numpy
plotly
streamlit
wordcloud
scikit-learn
spacy
langchain
langchain-openai
langchain_experimental
python-dotenv
openai
tabulate
unstructured
langchain-chroma
seaborn
transformers
tensorflow
matplotlib
tf-keras
openpyxl